%h1 Welcome!

%h4 Z przyjemnością informujemy, że w dniach 6-9 lutego 2018 r. w Gułtowach (woj. Wielkopolskie) obędą się IX Zimowe Warsztaty
Biofizyczne organizowane przez Zakład Biofizyki Molekularnej UAM.
Miejscem obrad będzie Kompleks Puchaczówka (www.puchaczowka.pl).

