%h1 Payment Info

%p 
  The conference fee is the same for all participants: 
  %b 600 PLN.

%p Conference fee includes full board, accomodation as well as bus transport from Poznan Main Railway Station to Gułtowy (on February 5th) and from Gułtowy to Gniezno Railway Station (on February 7th)

%p Payment should be made to account:

%p.account
  %b BZ WBK 77 1090 1362 0000 0000 3601 7903
  %br
  Transfer title: Subkonto K00000749 – oplata konferencyjna:
  %i “Given_name Last_name”*

%p.desc *where in place of “Given_name Last_name” appropriate data should be provided
