%h2 Payment Info

%p 
  The conference fee is the same for all participants: 
  %b 600 PLN.

%p Conference fee includes full board, accomodation as well as bus transport from Poznan Main Railway Station to Gułtowy (on February 5th) and from Gułtowy to Gniezno Railway Station (on February 7th)

%p Payment should be made to account:

%p.account
  %b BZ WBK 77 1090 1362 0000 0000 3601 7903
  %br
  Transfer title: Subkonto K00000749 – oplata konferencyjna:
  %i “Given_name Last_name”*

%p.desc *where in place of “Given_name Last_name” appropriate data should be provided

%h2 Basic information

%ul
  %li WiFi is of decent quality. The eduroam users will be served automatically. For others a unique password will be provided valid for the time of the conference
  %li There are two shops nearby (walking distance) in case you manage to digest the standard meals
  %li There is a train station with 30 min frequent connection to Poznań (2.5 km from the conference site)
  %li In each room there is a flat TV that can serve as a monitor.
  %li We will be scattered among two buildings standing 50 m from each another. The conference will be held in still another building (Palace, 50 m away), where also meals will be served.
  %li We will be the only guests in that place. In each building there is a number of comfortable places to sit and discuss/rest/chat.
  %li There is a nice park around the palace.

