%h1 Program and Venue

%p
  The programme of the conference (updated 12 January 2018) can be downloaded by
  %a{href: 'downloads/program.doc'} clicking here
  \.

%p
  The workshops will take place in a
  = link 'palace in Gułtowy', 'http://palace.amu.edu.pl/gultowy'
  which belongs to the Adam Mickiewicz University

%p
  Address:
  %b 62-025 Kostrzyn, Park im. A. Bnińskiego 1, Gułtowy

%p There will be an options for the participants to be driven to the venue by bus. More details to follow in the upcoming weeks.
