%h1 Program and Venue

%p
  The workshops will take place in a
  = link 'palace in Gułtowy', 'http://palace.amu.edu.pl/gultowy'
  which belongs to the Adam Mickiewicz University. The address of the venue is
  %b 62-025 Kostrzyn, Park im. A. Bnińskiego 1, Gułtowy.

%p
  The programme of the conference (updated 26 January 2018) can be downloaded by
  %a{href: 'downloads/program.pdf'} clicking here
  \. For the full schedule of the conference, please
  %a{href: 'downloads/Program_szczegolowy.doc'} click here
  \.

%p There will be an option for the participants to be driven to the venue by bus. More details to follow in the upcoming weeks.

%p
  The meal will be served in the Kasztelania restaurant in the palace. Please click the following link to take a look at the
  %a{href: 'downloads/MENU.docx'} menu
  \.
