%h1 Register to the Workshops

%p Please contact the organizing committee:
%ul
  %li prof UAM dr hab. Jacek Gapinski (Chairman) - Adam Mickiewicz University, Poznań, Poland
  %li dr Hanna Jurga-Nowak - Adam Mickiewicz University, Poznań, Poland
