.row#title
  .col-9
    %h1 
      X Zimowe Warsztaty Biofizyczne
      %br
      Zakładu Biofizyki Molekularnej WF UAM
    %h2
      Gułtowa, 10 lutego 2018 ???
  .col-3
    %a#logo{href: '/'}= img "logo.png"
