#main-menu{class: @file}
  %ul.nav.nav-pills.nav-justified.flex-column
    - %w(strona_główna informacje_praktyczne kontakt program rejestracja uczestnicy wyżywienie).each do |w|
      - if w == 'strona_główna'
        %li{class: (@file=='index' ? 'active' : '')}
          = link w.capitalize.gsub(/_/, ' '), '/'
      - else
        %li{class: (@file==w ? 'active' : '')}
          = link w.capitalize.gsub(/_/, ' ')
