#main-menu{class: @file}
  %ul.nav.nav-pills.nav-justified.flex-column
    - %w(homepage payment_info abstracts program register participants).each do |w|
      - if w == 'homepage'
        %li{class: (@file=='index' ? 'active' : '')}
          = link w.capitalize.gsub(/_/, ' '), '/'
      - else
        %li{class: (@file==w ? 'active' : '')}
          = link w.capitalize.gsub(/_/, ' ')
